* {
  font-family: "League Gothic", sans-serif;
  margin: 0;
}

body {
  background-color: #26262C;
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 120px;
  letter-spacing: 15px;
}

h3 {
  color: white;
  font-size: 60px;
  letter-spacing: 8px;
}
